parameters:
    defaultUserConfigs:
        -   
            key:    "userNotifyAdminChange"
            comment:    "user.settings.notifyAdminChange"
            value:  true
            type:   bool
        -   
            key:    "userNotifyChangePassword"
            comment:    "user.settings.notifyChangePassword"
            value:  true
            type:   bool
        -   
            key:    "userNotifyAdminChangePassword"
            comment:    "user.settings.notifyAdminChangePassword"
            value:  true
            type:   bool
        -   
            key:    "userNotifyChangeStatus"
            comment:    "user.settings.notifyChangeStatus"
            value:  true
            type:   bool
        -   
            key:    "userNotifyChangeConfig"
            comment:    "user.settings.notifyChangeConfig"
            value:  true
            type:   bool
        -   
            key:    "userNotifyResetConfig"
            comment:    "user.settings.notifyResetConfig"
            value:  true
            type:   bool
        -   
            key:    "userNotifyReloadConfig"
            comment:    "user.settings.notifyReloadConfig"
            value:  true
            type:   bool
        -   
            key:    "userNotifyAddRole"
            comment:    "user.settings.notifyAddRole"
            value:  true
            type:   bool
        -   
            key:    "userNotifyRemoveRole"
            comment:    "user.settings.notifyRemoveRole"
            value:  true
            type:   bool

    acl:
        roles:
            users.administrator:
        resources:
            users:
        allow:
            -   
                resource:
                    -   users
                role:
                    -   users.administrator
                privilege:
                    -   read
                    -   write
                    -   delete

    navbar:
        user:
            name:   "user.navbar.user"
            resource:   profile
            children:
                profile:
                    name:   "user.navbar.profile"
                    href:   ":User:Profile:default"
                    resource:   profile
                settings:
                    name:   "user.navbar.settings"
                    href:   ":User:Profile:settings"
                    resource:   profile
                history:
                    name:   "user.navbar.history"
                    href:   ":User:Profile:history"
                    resource:   profile
                password:
                    name:   "user.navbar.password"
                    href:   ":User:Profile:password"
                    resource:   profile
                users:
                    name:   "user.navbar.administration"
                    href:   ":User:Admin:default" 
                    resource:   users
                signout:   
                    name:   "user.navbar.signOut"
                    href:   ":User:Sign:out"
                    resource:   profile