parameters:
    defaultUserConfigs:
        -   
            key:    "userNotifyAdminChange"
            comment:    "user.settings.notify.admin.change"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyAdminChangePassword"
            comment:    "user.settings.notify.admin.changePassword"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyChangeStatus"
            comment:    "user.settings.notify.admin.changeStatus"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyChangeSettings"
            comment:    "user.settings.notify.admin.changeSettings"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyReloadsettings"
            comment:    "user.settings.notify.admin.reloadSettings"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyChangePassword"
            comment:    "user.settings.notify.user.changePassword"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyResetSettings"
            comment:    "user.settings.notify.user.resetSettings"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyAddRole"
            comment:    "user.settings.notify.user.addRole"
            value:  true
            type:   "bool"
        -   
            key:    "userNotifyRemoveRole"
            comment:    "user.settings.notify.user.removeRole"
            value:  true
            type:   bool

    acl:
        roles:
            users.administrator:
        resources:
            users:
        allow:
            -   
                resource:
                    -   users
                role:
                    -   users.administrator
                privilege:
                    -   read
                    -   write
                    -   delete
        defaultRoles:
            -   authenticated
    navbar:
        user:
            name:   "user.navbar.user"
            resource:   profile
            children:
                profile:
                    name:   "user.navbar.profile"
                    href:   ":User:Profile:default"
                    resource:   profile
                settings:
                    name:   "user.navbar.settings"
                    href:   ":User:Profile:settings"
                    resource:   profile
                history:
                    name:   "user.navbar.history"
                    href:   ":User:Profile:history"
                    resource:   profile
                password:
                    name:   "user.navbar.password"
                    href:   ":User:Profile:password"
                    resource:   profile
                users:
                    name:   "user.navbar.administration"
                    href:   ":User:Admin:default" 
                    resource:   users
                signout:   
                    name:   "user.navbar.signOut"
                    href:   ":User:Sign:out"
                    resource:   profile