orm.annotations:
    paths:
        - %appDir%/User/models/entities

parameters:
    module:
        user:   User
services:    
    # ORM facades
    authenticator:   occ2\inventar\User\models\facades\User

    # forms

    # grids

    # processors

    # events
