{block content}
<div class="row">
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4"></div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">{control signInForm}</div>
    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-4"></div>
</div>