database:
    dsn: 'mysql:host=127.0.0.1;dbname=inventory'
    user:   'root'
    password:   '532114'
    options:
        lazy: yes

dbal:
    connection:
        host: "127.0.0.1"
        user: "application"
        password:   "application"
        dbname: "application"
        driver: "pdo_mysql"

parameters:
    navbar:
    acl:
    mailer:
        type:   'smtp'
        host:   'smtp.forpsi.com'
        port:   '587'
        username:   'no-reply@occ2.cz'
        password:   'vmwq22pq1'
        secure:   'tls'
        timeout: 20
        fromAddr:   'no-reply@occ2.cz'
        fromName:  'INVENTAR.CLOUD Administrátor'
        replyAddr:  'info@occ2.cz'
        replyName:  'INVENTAR.CLOUD Administrátor'
        returnPath: 'info@occ2.cz'
        priority:  '3'
                
    installer:  true
