show_filter:    "Zobrazit filtry"
filter_submit_button:   "Vyhledat"
per_page_submit:    "Zobrazit"
show:   "Podrobnosti"
items:  "Položky"
from:   "z"
no_item_found_reset:    "Žádné položky nenalezeny. Filtr můžete vynulovat"
no_item_found:  "Žádné položky nenalezeny."
here:   "zde"
all:    "všechny"
reset_filter:   "Resetovat filtr"
group_actions:  "Hromadné akce"
show_all_columns:   "Zobrazit všechny sloupce"
hide_column:    "Skrýt sloupec"
action: "Akce"
previous:   "Předchozí"
next:   "Další"
choose: "Vyberte"
execute:    "Provést"
cancel: "Zrušit"
save:   "Uložit"
show_default_columns:   "Zobrazit výchozí sloupce"
add:    "Přidat"
edit:   "Změnit"
