navbar:
    user:   "Uživatel"
    profile:    "Moje údaje"
    settings: "Osobní nastavení"
    history:    "Záznamy aktivity"
    password:   "Změna hesla"
    administration: "Správa uživatelů"
    signOut:    "Odhlásit"
        
signInForm:
    title:  "Přihlášení uživatele"
    username:   "Uživatel: "
    password:   "Heslo: "
    submit: "Přihlásit"
    register:   "Nový uživatel"
    forget: "Zapomenuté heslo"
registerForm:
    title:  "Registrace uživatele"
    name:   "Jméno a příjmení: "
    username: "Přihlašovací jméno: "
    password:   "Heslo: "
    repeatedPassword:   "Heslo (kontrola): "
    email:  "Email: "
    phone:  "Telefon: "
    question: "Kontrolní otázka: "
    answer:   "Odpověď: "
    submit: "Uložit registraci"
    nameDescription:    "Zadejte Vaše skutečné jméno a příjmení"
    usernameDescription:    "Jméno, pomocí kterého se budete přihlašovat musí být unikátní a musí mít alespoň 4 znaky"
    passwordDescription:    "Heslo musí mít alespoň 8 znaků a musí obsahovat alespoň jedno velké a malé písmenu a číslo."
    repeatedPasswordDescription:    "Zadejte stejné heslo pro kontrolu správnosti"
    emailDescription:   "Zadejte platný email ve formátu jmeno@domena.tld"
    phoneDescription:   "Zadejte platné telefonní číslo v mezinárodním formátu  +yyyXXXXXXXXX (např +420123456789)"
    questionDescription:  "Napište kontrolní otázku, která Vám bude položena v případě resetu hesla. Odpověď by měla být jednoslovná (např. jméno matky za svobodna apod.)"
    answerDescription:    "Napište odpověď na otázku výše. Tato odpověď bude vyžadována při resetu Vašeho hesla."
resetPassForm:
    title:  "Reset hesla"
    comment:    "Aby bylo možné provést reset hesla musíte vyplnit Vaše uživatelské jméno a email, který máte registrovaný v profilu. V další fázi budete muset odpovědět na kontrolní otázku, kterou jste zadali při registraci."
    username:   "Uživatelské jméno"
    email:  "Email:"
    submit: "Další krok >>"
controlQuestionForm:
    title:  "Kontrolní otázka před resetem hesla"
    answer: "Odpověď"
    recaptcha:  "Jste robot?"
    reset:  "<< Vrátit zpět"
    submit: "Další krok >>"
controlRecaptchaForm:
    title:  "Dokončení resetu hesla"
    comment:    "Po dokončení bude Vaše heslo nahrazeno náhodně vygenerovaným jednorázovým heslem, které Vám bude odesláno na email."
    submit: "Dokončit"
expiredPassForm:
    title:  "Změna expirovaného/jednorázového hesla"
    comment:    "Platnost hesla vypršela. Prosím změňte své heslo do systému. Systém žádným způsobem neukládá historii hesel. Mějte prosím na paměti, že používání stále stejného hesla je potencionálně nebezpečné."
    username:   "Uživatelské jméno: "
    oldPassword:    "Staré heslo: "
    oldPasswordDescription: "Zadejte prosím své staré heslo. Pokud přistupujete po resetu hesla, zadejte prosím přidělené jednorázové heslo"
    newPassword:   "Nové heslo: " 
    newPasswordDescription: "Heslo musí mít alespoň 8 znaků a musí obsahovat alespoň jedno velké a malé písmenu a číslo."
    repeatedPassword:   "Heslo (kontrola): "
    repeatedPasswordDescription:    "Zadejte stejné heslo pro kontrolu správnosti"
    submit: "Změnit heslo"
settingsForm:
    title:  "Nastavení uživatele"
    name:   "Jméno a příjmení: "
    username: "Přihlašovací jméno: "
    email:  "Email: "
    phone:  "Telefon: "
    question: "Kontrolní otázka: "
    answer:   "Odpověď: "
    submit: "Uložit změny"
    nameDescription:    "Zadejte Vaše skutečné jméno a příjmení"
    usernameDescription:    "Jméno, pomocí kterého se budete přihlašovat musí být unikátní a musí mít alespoň 4 znaky"
    emailDescription:   "Zadejte platný email ve formátu jmeno@domena.tld"
    phoneDescription:   "Zadejte platné telefonní číslo v mezinárodním formátu  +yyyXXXXXXXXX (např +420123456789)"
    questionDescription:  "Napište kontrolní otázku, která Vám bude položena v případě resetu hesla. Odpověď by měla být jednoslovná (např. jméno matky za svobodna apod.)"
    answerDescription:    "Napište odpověď na otázku výše. Tato odpověď bude vyžadována při resetu Vašeho hesla."    
    hidden: "-- beze změny --"
changePassForm:
    title:  "Změna hesla"
    comment:    "Systém žádným způsobem neukládá historii hesel. Mějte prosím na paměti, že používání stále stejného hesla je potencionálně nebezpečné"
    oldPassword:    "Staré heslo: "
    oldPasswordDescription: "Zadejte prosím své původní staré heslo."
    newPassword:    "Nové heslo: "
    newPasswordDescription: "Heslo musí mít alespoň 8 znaků a musí obsahovat alespoň jedno velké a malé písmenu a číslo."
    repeatedPassword:   "Heslo (kontrola): "
    repeatedPasswordDescription:    "Zadejte stejné heslo pro kontrolu správnosti"
    submit: "Změnit heslo"
addUserForm:
    title:  "Přidat uživatele"
    
userHistoryGrid:
    title:  "Historie událostí uživatele"
    datetime:   "Datum a čas"
    type:   "Typ události"
    message:    "Záznam události"
    question: "Smazat událost s ID: %s ?"
usersGrid:
    title:  "Správa uživatelů"
    id: "UID"
    username:   "Uživatelské jméno"
    realname:   "Skutečné jméno"
    email:  "E-Mail"
    phone:  "Telefon"
    question:   "Kontrolní otázka"
    secret: "Výměnný token"
    status: "Stav"
    active: "Aktivní"
    inactive:   "Neaktivní" 
    add:    "Nový uživatel"
    edit:   "Editace"
    delete: "Smazat"
    reset:  "Reset hesla"
    history:    "Historie uživatele"
    settings: "Uživatelská nastavení"
    roles:  "Role oprávnění"
    confirmDelete:  "Opravdu chcete smazat uživatele %s ?"
    confirmReset:   "Opravdu chcete provést reset hesla uživatele %s ?"
userConfigGrid:
    title:  "Osobní nastavení"
    id: "ID"
    comment:   "Vlastnost"
    key:    "Klíč"
    value:  "Hodnota"
    type:   "Typ"
    reset:  "Reset do výchozího nastavení"
    reload: "Zkontrolovat moduly a doplnit chybějící nastavení"
userRolesGrid:
    title:  "Role oprávnění"
    id: "ID"
    role:   "Role"
    comment:    "Popis"
    delete: "Odebrat oprávnění"
    confirmDelete:  "Opravdu chcete uživateli odebrat tuto roli?"
settings:
    notifyAdminChange:  "Upozornit na změnu dat administrátorem"
    notifyChangePassword:   "Upozornit na změnu hesla."
    notifyAdminChangePassword:  "Upozornit na změnu hesla administrátorem"
    notifyChangeStatus: "Upozornit na změnu stavu administrátorem"
    notifyChangeConfig: "Upozornit na změnu nastavení administrátorem"
    notifyResetConfig:  "Upozornit na reset konfigurace"
    notifyReloadConfig: "Upozornit na doplnění konfigurace administrátorem"
    notifyAddRole:  "Upozornit na přidání role"
    notifyRemoveRole:   "Upozornit na odebrání role"

error:
    protection: "Vypršel časový limit, odešlete formulář znovu"
    inactivity: "Proběhlo odhlášení uživatele z důvodu neaktivity."
    requiredUsername:   "Uživatelské jméno musí být vyplněno"
    minLengthUsername:  "Uživatelské jméno musí mít minimálně 4 znaky"
    requiredPassword:   "Heslo musí být vyplněno"
    minLengthPassword:  "Heslo musí být minimálně 8 znaků dlouhé"
    equalPassword:  "Hesla se neshodují"
    patternPassword:    "Heslo musí obsahovat alespoň jedno malé písmeno, jedno velké písmeno a jednu číslici"
    invalidUsername:    "Neznámý uživatel"
    invalidPassword:    "Neplatné heslo"
    invalidEmail:   "Neplatný email"
    blockedUser:    "Uživatel je blokován"
    maxAttemptsReached: "Byl překročen maximální počet neúspěšných pokusů"
    expiredPassword:    "Platnost hesla vypršela"
    requiredName:   "Musíte zadat i skutečné jméno"
    requiredEmail:  "Musíte zadat e-mail"
    requiredPhone: "Musíte zadat telefonní číslo"
    invalidPhone:   "Telefonní číslo musí být v mezinárodním formátu formátu +yyyXXXXXXXXX (např +420123456789)"
    requiredQuestion:   "Musíte zadat kontrolní otázku"
    requiredAnswer: "Musíte zadat odpověď na kontrolní otázku"
    uniqueUsername: "Bohužel toto uživatelské jméno je již používáno. Zkuste jiné"
    invalidAnswer:  "Bohužel tato odpověď je špatná"
    unaccessible:   "Nelze měnit data jiného uživatele než je aktuálně přihlášen"
success:
    login: "Úspěšné přihlášení"
    logout: "Odhlášení bylo úspěšné"
    register:   "Registrace uživatelem."
    registerComment:    "Na Váš email přijde rekapitulace registrace, jejíž součástí je bezpečnostní kód, který použijete, pokud chcete být přiřazeni k již existujícímu účtu."
    reset:  "Reset hesla proběhl úspěšně"
    resetComment:   "Na Vámi registrovaný email bylo odesláno jednorázové heslo. Po přihlášení pomocí tohoto hesla je potřeba ho změnit."
    changePassword: "Heslo bylo změněno"
    changePasswordComment:  "Platnost nového hesla je 90 dní."
    saveSettings:   "Nastavení bylo uloženo"
    changePass: "Heslo bylo změněno"
    addUser:    "Úspěšná registrace administrátorem"
    editUser:   "Úspěšná změna  změna nastavení administrátorem"
    changeStatus:   "Úspěšná změna stavu administrátorem"
    deleteUser: "Uživatel smazán administrátorem"
    resetAdmin:  "Úspěšný reset hesla administrátorem"
    editConfig: "Hodnota nastavení byla uložena"
    configReset:    "Uživatelské nastavení bylo úspěšně resetováno do výchozího stavu"
    configReload:    "Uživatelské nastavení zkontrolováno a doplněny chybějící položky"
    addRole:    "Role oprávnění byla přidána."
    removeRole: "Role oprávnění byla odebrána."
email:
    admin:
        registerNoticeSubject:    "Notifikace administrátorovi - nový uživatel"
        registerNoticeMessage:    "Do systému se registroval nový uživatel \n\n Rekapitulace registrace: \n Jméno uživatele: %realname% \n Přihlašovací jméno: %username% \n Registrovaný email: %email% \n\n . \n\n\n Notificator"
        addSubject:    "INVENTAR.CLOUD - Registrace uživatele"
        addMessage:    "Bylo provedeno přidání uživatele do systému INVENTAR.CLOUD.\n\n Rekapitulace Vašeho účtu: \n Jméno uživatele: %realname% \n Přihlašovací jméno: %username% \n Jednorázové přihlašovací heslo: %password% \n Registrovaný email: %email% \n\n Po prvním přihlášení do systému po Vás bude vyžádována změna hesla. Doporučujeme také nastavit kontrolní otázku a odpověď pro případ ztráty nebo zapomenutí hesla. \n\n\n Team INVENTAR.CLOUD"
        editSubject:    "INVENTAR.CLOUD - Změna dat uživatele"
        editMessage:    "V systému INVENTAR.CLOUD byla provedena změna Vašich dat administrátorem \n\n Rekapitulace Vašeho účtu: \n Jméno uživatele: %realname% \n Přihlašovací jméno: %username% \n Registrovaný email: %email% \n \n\n\n Team INVENTAR.CLOUD"
        statusSubject:    "INVENTAR.CLOUD - Změna stavu uživatele"
        statusMessage:    "V systému INVENTAR.CLOUD byla provedena změna stavu uživatele administrátorem \n\n Rekapitulace Vašeho účtu: \n Jméno uživatele: %realname% \n Stav uživatele: %realStatus% \n Přihlašovací jméno: %username% \n Registrovaný email: %email% \n\n \n\n\n Team INVENTAR.CLOUD"
        deleteSubject:    "INVENTAR.CLOUD - Smazání uživatele"
        deleteMessage:    "V systému INVENTAR.CLOUD byl odstraněn Váš účet uživatele \n\n\n Team INVENTAR.CLOUD"
        resetSubject:   "INVENTAR.CLOUD - Reset hesla administrátorem"
        resetMessage:   "Administrátorem byl proveden reset hesla Vašeho účtu. \n Bylo Vám vygenerováno jednorázové heslo. Po přihlášení pomocí tohoto hesla budete požádáni o změnu a nastavení nového. \n Vaše dočasné heslo pro účet %username% je %password% \n\n\n Team INVENTAR.CLOUD"
    resetConfigSubject: "INVENTAR.CLOUD - reset nastavení uživatele"
    resetConfigMessage: "V systému INVENTAR.CLOUD proběhl reset nastavení uživatele do výchozích hodnot. \n\n\n Team INVENTAR.CLOUD"
    reloadConfigSubject: "INVENTAR.CLOUD -rozšíření nastavení uživatele"
    reloadConfigMessage:    "V systému INVENTAR.CLOUD proběhla kontrola nastavení uživatele a doplnění chybějících hodnot. \n\n\n Team INVENTAR.CLOUD"
    registerSubject:    "INVENTAR.CLOUD - Registrace uživatele"
    registerMessage:    "Děkujeme Vám za registraci do systému INVENTAR.CLOUD \n\n Rekapitulace Vašeho účtu: \n Jméno uživatele: %realname% \n Přihlašovací jméno: %username% \n Registrovaný email: %email% \n\n Bezpečnostní kód si prosím uschovejte. Pokud by Vás někdo chtěl přiřadit ke svému účtu bude ho potřebovat. \n\n\n Team INVENTAR.CLOUD"
    resetSubject:   "INVENTAR.CLOUD - Reset hesla"
    resetMessage:   "Byl proveden reset hesla Vašeho účtu. \n Bylo Vám vygenerováno jednorázové heslo. Po přihlášení pomocí tohoto hesla budete požádáni o změnu a nastavení nového. \n Vaše dočasné heslo pro účet %username% je %newPass% \n\n\n Team INVENTAR.CLOUD"
    changePasswordSubject:  "INVENTAR.CLOUD - změněno heslo"
    changePasswordMessage:  "Informace \n\n Na Vašem účtu s přihlašovacím jménem %username% bylo změněno heslo. \n\n\n Team INVENTAR.CLOUD"
roles:
    manager:    "Správa uživatelů"